.aws {
  --slider-height-percentage: 50%;
  --slider-transition-duration: 575ms;
  --organic-arrow-thickness: 4px;
  --organic-arrow-border-radius: 0px;
  --organic-arrow-height: 30px;
  --organic-arrow-color: #45a29e;
  --control-button-width: 10%;
  --control-button-height: 25%;
  --control-button-background: transparent;
  --control-bullet-color: #66fcf1;
  --control-bullet-active-color: #6a6a6a;
  --loader-bar-color: #851515;
  --loader-bar-height: 6px;
}
@media (max-width: 767px) {
  .aws {
    --slider-height-percentage: 100%;
  }
}
